#boke_content{
	margin-top: 3rem;
	/* margin-left: -12rem; */
}

.home-avatar{
	display:inline-block;
	padding:0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.home-avatar img{
	border-radius: 50%;
}

 ul{
	list-style:none
}


#boke_content ul li span{
	color: #555;
	font-size: 14px;
}
#boke_content ul li{
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	padding: 1.5rem;
	color: #ddd;
	font-size: 14px;
}
#boke_content ul li:hover{
	background: #F5F5F5;
}

#boke_content ul li a{
	display: inline-block;
	color: #555;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#boke_content ul li a span:hover{
	color: orange;
}

#boke_content ul li a #small_content{
	display: block;
	height: 6rem;
	overflow:hidden;
}
#boke_content ul li #bk_xx{
	margin-bottom: 0;
}

#boke_content ul li #bk_xx span{
	font-size: 13px;
	padding-right: 2rem;
}

#zy_yc_content{
	/* border: 1px solid #ddd; */
	margin-top: 3rem;
}

#zy_yc_content ul li{
	padding: 0;
}

#zy_yc_content ul li a #dl_jz{
	display: inline-block;
	height: 1.5rem;
	overflow:hidden;
	margin-top: 15px;
	-webkit-line-clamp: 1;
}

#zy_yc_content #gz_phb{
	border: 1px solid #ddd;
}
#zy_yc_content #gz_phb li {
	border: 1px solid #ddd;
	color: #555;
	border-top: 0;
}
#zy_yc_content #gz_phb li p{
	padding-top: 2rem;
}

#zy_yc_content #gz_phb li:hover{
	background: #F5F5F5;
	cursor: pointer;
}

#zy_yc_content #dz_phb{
	border: 1px solid #ddd;
}
#zy_yc_content #dz_phb li {
	border: 1px solid #ddd;
	color: #555;
	border-top: 0;
}
#zy_yc_content #dz_phb li p{
	padding-top: 2rem;
}

#zy_yc_content #dz_phb li:hover{
	background: #F5F5F5;
	cursor: pointer;
}


#zy_yc_content #phb li:hover{
	cursor: pointer;
	color: orange;;
}