.home-avatar{
	display:inline-block;
	padding:0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.home-avatar img{
	border-radius: 50%;
}

.blog-avatar{
    width: 70px;
    height: 70px;
}

.blog-content{
    height: 60px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.interval-left{
	margin-left: 15px;
}

.interval-right{
	margin-right: 15px;
}

.blog-body .blog-body-item{
	margin-top: 0 !important;
	padding: 25px 15px;
	background-color: #fcfcfc;
	margin-bottom: 15px;
	box-shadow: 1px 0 2px rgba(0,0,0,0.2);
}

.recommend-body{
	padding: 15px;
    border: 0.5px solid #cccccc;
	border-top-width: 0;
}