<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ user.user_nick }}的博客</title>

    {% load static %}
    <!--Bootstrap-->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'my/css/blog_home.css' %}" rel="stylesheet">
    <link href="{% static 'my/css/nav.css' %}" rel="stylesheet">

    <style rel="stylesheet">
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
{% include 'ydl_nav.html' %}
<div class="master-panel">
    <div class="container">
        <div class="master-info">
            <img class="img-circle blog-avatar" src="{{ user.avatar }}"
                 alt="用户头像" title="{{ user.user_nick }}({{ user.username }})">
            <h4>用户昵称：{{ user.user_nick }}</h4>
            <h5>用户ID：{{ user.username }}</h5>
            <div class="container">
                <div class="col-md-2 col-md-offset-2">
                    <span>博客数：{{ blog_count }}</span>
                </div>
                <div class="col-md-2">
                    <span>阅读量：{{ read_mun_sum }}</span>
                </div>
                <div class="col-md-2">
                    <span>粉丝数：{{ fans_count }}</span>
                </div>
                <div class="col-md-2">
                    <span>作者排名：{{ user_rank }}</span>
                </div>
            </div>
            <div class="concern-master">
                {% if btn_type == 0 %}
                    <a href="/user/user_data/" class="btn btn-primary">个人中心</a>
                {% elif btn_type == 1 %}
                    <button class="btn btn-primary" onclick="like_user(this, '{{ user.id }}')">关注</button>
                {% elif btn_type == 2 %}
                    <button class="btn btn-primary" onclick="like_user(this, '{{ user.id }}')">取消关注</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table class="table blog-menu">
        <thead>
        <tr>
            <th class="my-menu onactive">博客</th>
            <th class="my-menu" onclick="get_favorite_dir_list({{ user.id }}, 1)">收藏</th>
            <th class="my-menu" onclick="get_like_user({{ user.id }}, 0, 1)">关注 / 粉丝</th>
            <th class><input name="" type="text" class="form-control" placeholder="搜索ta的博客"></th>
        </tr>
        </thead>
    </table>
    <div class="content">
        <div class="sort-way">
            <p class="onactive">时间排序 <span class="glyphicon glyphicon-triangle-bottom"></span></p>
            <p>点赞 <span class="glyphicon glyphicon-triangle-bottom"></span></p>
            <p>阅读量 <span class="glyphicon glyphicon-triangle-bottom"></span></p>
        </div>
        <div class="blog-body"></div>
    </div>
    <div class="content" style="display: none">
        <div class="favorites blog-body"></div>
    </div>
    <div class="content" style="display: none">
        <div class="concern-type">
            <p class="onactive" onclick="get_like_user({{ user.id }}, 1, 1)">关注</p>
            <p onclick="get_like_user({{ user.id }}, 2, 1)">粉丝</p>
            <p onclick="get_like_user({{ user.id }}, 3, 1)">互相关注</p>
        </div>
        <div class="concern-list">
        </div>
    </div>
</div>
</body>
<!--jquery-->
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<!--bootstrap js-->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'my/js/blog_home.js' %}"></script>
<script>
$(function () {

    $(".blog-menu th.my-menu").on("click", function () {
        $(".blog-menu th.my-menu").each(function () {
            $(this).removeClass("onactive");
        });
        $(this).addClass("onactive");

        menu_index = $(".blog-menu th.my-menu").index(this);
        $(".content").each(function () {
            $(this).css({"display": "none"});
        });
        $(".content").eq(menu_index).css({"display": "block"});

        if (menu_index === 1 || menu_index === 2){
            is_load_data = true;
            current_page = 1;
        }
    });
    $(".sort-way p").on("click", function () {
        var $span = $(this).find("span");
        if ($(this).hasClass("onactive")) {    // 判断点击的是否是选中的，若是则逆向排序，否则切换排序方式
            if ($span.hasClass("glyphicon-triangle-bottom")) {
                $span.removeClass("glyphicon-triangle-bottom");
                $span.addClass("glyphicon-triangle-top");
                sort_num = Math.abs(sort_num) * (-1);
            } else if ($span.hasClass("glyphicon-triangle-top")) {
                $span.removeClass("glyphicon-triangle-top");
                $span.addClass("glyphicon-triangle-bottom");
                sort_num = Math.abs(sort_num);
            }
        } else {
            $(".sort-way p").each(function () {
                $(this).removeClass("onactive");
            });
            $(this).addClass("onactive");

            var sort_index = $(".sort-way p").index(this);
            sort_num = sort_index + 1;

            if ($span.hasClass("glyphicon-triangle-top")) {
                sort_num = sort_num * (-1);
            }
        }
        is_load_data = true;
        current_page = 1;
        get_blog_list("{{ user.id }}", current_page, sort_num);
    });
    $(".concern-type p").on("click", function () {
        $(".concern-type p").each(function () {
            $(this).removeClass("onactive");
        });
        $(this).addClass("onactive");
    });

    function get_blog_list(userId, page, sort) {
        $.ajax({
            url: "/blog/blog_list/",
            type: "get",
            dataType: "json",
            data: {userId: userId, page: page, sort:sort},
            success:function (data) {
                console.log("博客列表的返回值：");
                console.log(data);
                if (data.status === 0){
                    if (page === 1){
                        blog_list_obj.empty();
                    }
                    if (data.data.length === 0){
                        if (is_load_data){
                            is_load_data = false;
                            bottom_tip = "<p class=\"blog-content-bottom\">已经到底了，没有更多数据了~ QAQ </p>";
                            blog_list_obj.html(blog_list_obj.html() + bottom_tip);
                        }
                        return;
                    }
                    for (i = 0; i < data.data.length; i++) {
                        str = "<div class=\"media blog-body-item\">" +
                            "<h3 class=\"media-heading\">" + data.data[i].title + "</h3>" +
                            "<div class=\"media-left\">" +
                            "<a href=\"#\">" +
                            "<img class=\"media-object blog-avatar img-circle\" src=\"{{ user.avatar }}\" " +
                            "alt=\"用户头像\" " +
                            "title=\"{{ user.user_nick }}({{ user.username }})\">" +
                            "</a>" +
                            "</div>" +
                            "<div class=\"media-body blog-content\">" + data.data[i].content_paragraph + "</div>" +
                            "<div class=\"media-bottom\">" +
                            "<span class=\"text-primary\">{{ user.user_nick }}</span>" +
                            "<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>" +
                            "<span>" + data.data[i].create_date + "</span>" +
                            "<span class=\"pull-right interval-left\">" +
                            "<span class=\"glyphicon glyphicon-eye-open\"></span>&nbsp;" + data.data[i].read_num + "</span>" +
                            "<span class=\"pull-right interval-left\">" +
                            "<span class=\"glyphicon glyphicon-edit\"></span>&nbsp;" + data.data[i].comment_num + "</span>" +
                            "<span class=\"pull-right\">" +
                            "<span class=\"glyphicon glyphicon-thumbs-up\"></span>&nbsp;" + data.data[i].praise_num + "</span>" +
                            "</div>" +
                            "</div>";
                        blog_list_obj.html(blog_list_obj.html() + str);
                    }
                }
            }
        });
    }

    var sort_num = 1;
    var menu_index = 0;
    var blog_list_obj = $(".blog-body");
    get_blog_list("{{ user.id }}", 1, sort_num);

    $(document).scroll(function(){
        if( $(window).height() + $(document).scrollTop() + 1 >= $(document).height() ){
            console.log("is_load_data:"+is_load_data+"；current_page:"+current_page+"；menu_index:"+menu_index);
            if (is_load_data){
                current_page ++;
                if (menu_index === 0){
                    get_blog_list("{{ user.id }}", current_page, sort_num);
                } else if (menu_index === 1) {
                    if (favorites_dir_or_list){
                        get_favorite_dir_list({{ user.id }}, current_page);
                    } else {
                        get_favorite_list({{ user.id }}, favorites_dir_id, current_page)
                    }
                } else if (menu_index === 2) {
                    get_like_user({{ user.id }}, 0, current_page);
                }
            }
        }
    });
});

</script>
<script src="{% static 'my/js/blog_home.js' %}"></script>
</html>