<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bbs主页面</title>

    {% load static %}
    <!--Bootstrap-->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'my/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'my/css/nav.css' %}" rel="stylesheet">
</head>
<body>
{% include 'ydl_nav.html' %}

<div class="container">
    <!-左侧导航栏--->
    <div class="col-md-2">
        <div class="list-group home-nav">
            <a href="#" class="list-group-item text-center active">推荐</a>
            <a href="#" class="list-group-item text-center">互联网</a>
            <a href="#" class="list-group-item text-center">JAVA</a>
            <a href="#" class="list-group-item text-center">设计</a>
            <a href="#" class="list-group-item text-center">画画</a>
            <a href="#" class="list-group-item text-center">美女</a>
            <a href="#" class="list-group-item text-center">帅哥</a>
            <a href="#" class="list-group-item text-center">建筑</a>
            <a href="#" class="list-group-item text-center">美女</a>
            <a href="#" class="list-group-item text-center">帅哥</a>
            <a href="#" class="list-group-item text-center">建筑</a>
            <a href="#" class="list-group-item text-center">美女</a>
            <a href="#" class="list-group-item text-center">帅哥</a>
            <a href="#" class="list-group-item text-center">建筑</a>
        </div>
    </div>
    <!-中间内容--->
    <div class="col-md-7">
        <div class="blog-body">
            {% for blog_content in blog_contents %}
                <div class="media blog-body-item">
                    <h3 class="media-heading">{{ blog_content.title }}</h3>
                    <div class="media-left">
                        <a href="/blog/{{ blog_content.publisher.username }}/home">
                            <img class="media-object blog-avatar img-circle" src="{{ blog_content.publisher.avatar }}"
                                 alt="用户头像" title="{{ blog_content.publisher.user_nick }}({{ blog_content.publisher.username }})">
                        </a>
                    </div>
                    <div class="media-body blog-content">{{ blog_content.content_paragraph }}</div>
                    <div class="media-bottom">
                        <a href="/blog/{{ blog_content.publisher.username }}/home" class="text-primary">{{ blog_content.publisher.user_nick }}</a>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                        <span>{{ blog_content.create_date }}</span>
                        <span class="pull-right interval-left"><span
                                class="glyphicon glyphicon-eye-open"></span>&nbsp;{{ blog_content.read_num }}</span>
                        <span class="pull-right interval-left"><span
                                class="glyphicon glyphicon-edit"></span>&nbsp;{{ blog_content.comment_num }}</span>
                        <span class="pull-right"><span
                                class="glyphicon glyphicon-thumbs-up"></span>&nbsp;{{ blog_content.praise_num }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--导入分页组件-->
        {% if blog_contents %}
            {% load pageGenerate %}
            {% page num_pages current_num request.path %}
        {% endif %}
    </div>

    <!--右侧推荐人-->
    <div class="col-md-3">
        <div>
            <ul id="myTabs" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#concern" id="concern-tab" role="tab" data-toggle="tab"
                                                          aria-controls="concern" aria-expanded="true">关注量排行</a></li>
                <li role="presentation" class=""><a href="#article" role="tab" id="article-tab" data-toggle="tab"
                                                    aria-controls="article" aria-expanded="false">博客量排行</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="concern" aria-labelledby="concern-tab">
                    <div class="recommend-body">
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="article" aria-labelledby="article-tab">
                    <div class="recommend-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!--jquery-->
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<!--bootstrap js-->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'my/js/home.js' %}"></script>
</html>