<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户登录</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/my/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary login-panel">
            <div class="panel-heading">
                <div class="panel-title">登录界面</div>
            </div>
            <div class="panel-body">
                    <form class="form-horizontal" action="/user/login/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-md-3" for="username">用户名：</label>
                            <div class="col-md-9">
                                <input class="form-control" id="username" name="username" placeholder="用户ID / 手机号" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="password">密码：</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" id="password" name="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="submit" class="btn-primary btn" value="登录"/>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</html>