<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <!--Bootstrap-->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'my/css/nav.css' %}" rel="stylesheet">
    {% block page-css %}{% endblock %}
</head>
<body>
{% include 'ydl_nav.html' %}
<div class="container">
    <div class="col-md-3">
        <div class="list-group">
            <a href="/user/user_data" class="list-group-item text-center
                    {% if request.path == '/user/user_data/'  %}active{% endif %}">个人资料</a>
            <a href="/user/account_safe" class="list-group-item text-center
                    {% if request.path == '/user/account_safe/'  %}active{% endif %}">账户安全</a>
            <a href="/blog/message_manager" class="list-group-item text-center
                    {% if request.path == '/blog/message_manager/'  %}active{% endif %}">消息通知</a>
            <a href="/blog/statistics" class="list-group-item text-center
                    {% if request.path == '/blog/statistics/'  %}active{% endif %}">博客统计</a>
            <a href="/user/fans_statistics" class="list-group-item text-center
                    {% if request.path == '/user/fans_statistics/'  %}active{% endif %}">粉丝量统计</a>
            <a href="/feedback" class="list-group-item text-center
                    {% if request.path == '/feedback/'  %}active{% endif %}">意见反馈</a>
        </div>
    </div>
    <div class="col-md-9">
        {% block page-content %}{% endblock %}
    </div>
</div>
</body>
<!--jquery-->
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<!--bootstrap js-->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block page-js %}{% endblock %}
</html>