{% extends 'person_manager_base.html' %}
{% load static %}

{% block title %}
    个人资料
{% endblock %}
{% block page-css %}
    <link href="{% static 'my/css/person_center.css' %}" rel="stylesheet">
{% endblock %}
{% block page-content %}
    <div class="media user-introduced">
        <div class="media-left">
            <a href="#">
                <label for="avatar">
                    <img class="media-object user-avatar" src="{{ request.user.avatar }}" alt="头像">
                </label>
                <input type="file" name="avatar" id="avatar" style="display: none" accept="image/*">
            </a>
        </div>
        <div class="media-body">
            <p class="user-nick">用户昵称：{{ request.user.user_nick }}</p>
            <span>用户ID：{{ request.user.username }}</span>
        </div>
        <div class="user-age">
            <span>博龄: {{ blog_age }}</span>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span>基本信息</span>
                <div class="pull-right edit">
                    <span><span class="glyphicon glyphicon-pencil"></span>&nbsp;编辑</span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form novalidate class="form-horizontal info-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-md-2" for="nickname">昵称：</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="nickname" id="nickname" disabled value="{{ request.user.user_nick }}">
                    </div>
                    <div class="col-md-4">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="userid">用户ID：</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="userid" id="userid" disabled value="{{ request.user.username }}">
                    </div>
                    <div class="col-md-4">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="age">年龄：</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="age" id="age" disabled value="{{ request.user.detail_info.age }}">
                    </div>
                    <div class="col-md-4">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">性别：</label>
                    <div class="col-md-6">
                        <label class="radio-inline"><input id="man" type="radio" name="sex" value="1" disabled {% if request.user.detail_info.sex == 1 %}checked{% endif  %}>男</label>
                        <label class="radio-inline"><input id="woman" type="radio" name="sex" value="0" disabled {% if request.user.detail_info.sex == 0 %}checked{% endif  %}>女</label>
                    </div>
                    <div class="col-md-4">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="birthday">出生日期：</label>
                    <div class="col-md-6">
                        <input type="date" class="form-control" name="birthday" id="birthday" disabled value="{{ request.user.detail_info.birthday | date:'Y-m-d' }}">
                    </div>
                    <div class="col-md-4">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="hometown">家乡：</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="hometown" id="hometown" disabled value="{{ request.user.detail_info.hometown }}">
                    </div>
                    <div class="col-md-4">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="userInfo">个人简介：</label>
                    <div class="col-md-6">
                        <textarea class="form-control" rows="5" name="userInfo" id="userInfo" disabled>{{ request.user.user_info }}</textarea>
                    </div>
                    <div class="col-md-4">
                        <span class="help-block"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-primary panel">
        <div class="panel-heading">
            <div class="panel-title">兴趣类别</div>
        </div>
        <div class="panel-body">
            <div class="tag">
                <span class="tag-title col-md-2">喜爱：</span>
                <div class="tag-tip col-md-10">
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                </div>
            </div>
            <div class="tag">
                <span class="tag-title col-md-2">屏蔽：</span>
                <div class="tag-tip col-md-10">
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">科学<span class="tag-delete">&times;</span></span>
                    <span class="tag-tip-item">生物<span class="tag-delete">&times;</span></span>
                </div>
            </div>
            <div class="tag">
                <span class="tag-title col-md-2">推荐类别：</span>
                <div class="tag-tip col-md-10">
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">科学<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                    <span class="tag-tip-item tag-recommend">生物<a href="#" class="tag-operation tag-add">+</a><a href="#" class="tag-operation tag-reduce">-</a></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page-js %}
<script src="{% static 'my/js/setup-ajax.js' %}"></script>
<script src="{% static 'my/js/user_info.js' %}"></script>
{% endblock %}